# Ignorar todos os arquivos .zip
*.zip

# Ignorar arquivos de ambiente
*.env
.env

# Ignorar logs
*.log
logs/*.log

# Ignorar arquivos de saída
*.out
*.txt

# Ignorar arquivos e pastas específicos
.DS_Store

# Ignorar arquivos/folders gerados durante o build
pentaho.log
work-item-status.log
localhost.log
localhost.properties
localhost.script
example.txt
wi-status.error

# Ignorar todos os arquivos na pasta sharedFolder
sharedFolder/*

*.jar

libs/*